<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>
		小虫
	</title>
	<link href="__PUBLIC__/css/mite.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/css/miteIndex.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="wrap order">

		<div class="detailTopImg">
			<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1511180739508&di=e9c27f1a736174a50dea5ae00901c28e&imgtype=0&src=http%3A%2F%2Fupload.ishaanxi.com%2F2014%2F0807%2F1407379375948.jpg" alt="">
			<span class="back"><</span>
		</div>
		<div class="wrapOrderList">
			<h4>入住时段</h4>
			<div class="orderList">
				<h3><em>2017-12-6</em> 至 <em>2017-12-10</em></h3>
			</div>
		</div>
		<div class="wrapOrderList">
			<h4>预定数量</h4>
			<div class="orderList">
				<h3><em>1</em>间</h3>
			</div>
		</div>
		<!-- <div class="wrapOrderList">
			<h4>入住人信息</h4>
			
		</div> -->
		<div class="wrapOrderList">
			<h4>预订人信息</h4>
			<div class="orderList">
				<span>真实姓名:</span>
				<var>水电费</var>
			</div>
			<div class="orderList">
				<span>手机:</span>
				<var>+86 12345678978</var>
			</div>
		</div>
		<div class="wrapOrderList">
			<h4>入住提示</h4>
			<div class="orderList">
				<span>wifi 密码:</span>
				<var>123456789</var>
			</div>
		</div>
		<div class="wrapOrderList">
			<h4>酒店信息</h4>
			<div class="orderList">
				<span>联系电话:</span>
				<var>020-12345678</var>
			</div>
			<div class="orderList">
				<span>负责人:</span>
				<var>阿斯达</var>
			</div>
		</div>
	</div>
	

	<script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/layui/layui.js"></script>
    <script src="__PUBLIC__/js/picker.min.js"></script>
    <script src="__PUBLIC__/js/miteCommon.js"></script>
</body>
</html>