<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>小虫</title>
	<link href="__PUBLIC__/css/mite.css" type="text/css" rel="stylesheet">
</head>
<body>
	<header>
		<em><</em>
		<span>
			配套设施
		</span>
		<a class="rightBtn facilityinfoBtn" href="javascript:void(0);">
            完成
        </a>
	</header>
	<div class="wrap" id="wrapInput" data-houseid="{$houseData.houseid}" data-ajaxurl="{:url('Proprietor/updoptionsinfo')}">
		<div class="inputElementSelect">
			<div class="inputSelectTitle">
				卫浴
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/shower.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="17" />
				</var>
				热水淋浴
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/bath.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="18" />
				</var>
				浴缸
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/slippers.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="19" />
				</var>
				拖鞋
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/tolietpaper.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="16" />
				</var>
				手纸
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/toothbrush;.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="11" />
				</var>
				牙具
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/towel.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="13" />
				</var>
				毛巾
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/bodywash.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="14" />
				</var>
				浴液
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/bodywash.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="15" />
				</var>
				洗发水
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/soap.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="12" />
				</var>
				香皂
			</div>
			<!-- <div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/hairdryer.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="" />
				</var>
				风筒
			</div> -->
		</div>

		<div class="inputElementSelect">
			<div class="inputSelectTitle">
				电器
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/010-snowflake.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="22" />
				</var>
				空调
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/screen-1.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="21" />
				</var>
				电视
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/screen.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="26" />
				</var>
				电脑
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/washing-machine.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="25" />
				</var>
				洗衣机
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/fridge.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="24" />
				</var>
				冰箱
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/coffee-maker.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="23" />
				</var>
				饮水设备
			</div>
		</div>

		<div class="inputElementSelect">
			<div class="inputSelectTitle">
				设施
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/wifi.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="31" />
				</var>
				无线网络
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/lift.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="34" />
				</var>
				电梯
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/door-01.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="35" />
				</var>
				门禁系统
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/parking.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="36" />
				</var>
				停车位
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/heating.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="33" />
				</var>
				暖气
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/lan.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="32" />
				</var>
				有线网络
			</div>
		</div>

		<div class="inputElementSelect">
			<div class="inputSelectTitle">
				要求
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/stove.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="42" />
				</var>
				允许做饭
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/cegret.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="41" />
				</var>
				允许吸烟
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/party.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="44" />
				</var>
				允许聚会
			</div>
			<div class="inputSelectCheckbox">
				<span>
					<img class="inputSelectImg" src="__PUBLIC__/image/icon/pets.png" alt="">
				</span>
				<var>
					<input name="info" type="checkbox" value="43" />
				</var>
				允许带宠物
			</div>
		</div>
		<div class="link" style="background-color: #424242"><br><br></div>
	</div>
	<script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/mlayer/layer.js"></script>
	<script src="__PUBLIC__/js/picker.min.js"></script>
	<script src="__PUBLIC__/js/miteCommon.js"></script>
	<script type="text/javascript">
		$(function (){
			{notempty name="$houseData.options"}
			
			console.log({$houseData.options});
			var arr = {$houseData.options};
			$("input").each(function (){
				if(arr.indexOf($(this).val()) >= 0){
					$(this).click();
				}
			});
			{/notempty}
				
		});
	</script>
</body>
</html>