<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
            <title>
                小虫
            </title>
            <link href="__PUBLIC__/css/mite.css" rel="stylesheet" type="text/css"/>
        </meta>
    </head>
    <body>
        <header>
            <em>
                <a href="{:url('/mite/index/index')}"><</a>
            </em>
            <span>
                发布房源
            </span>
        </header>
        <div class="wrap" id="wrap" data-issurl="{:url('Proprietor/confirmissued')}" data-delurl="{:url('Proprietor/delunfinished')}" data-houseid="{$houseData.houseid}" data-issued="{:url('/mite/proprietor/issued')}" data-index="{:url('/mite/index/index')}">
            <div class="bigTop" id="bigTop" data-url="{:url('Proprietor/delimage')}">
                {empty name="houseData.houseImageData"}
                    <a href="{:url('Upload/houseimageupload')}?houseid={$houseData.houseid}">
                        <span class="text">
                            <img alt="" src="__PUBLIC__/image/icon/noimg.png">
                                <br>
                                    添加照片
                                </br>
                            
                        </span>
                    </a>
                {else /}
                    <div class="wrapImgRent">
                        {foreach $houseData.houseImageData as $houseImageData}
                            <img src="/miteuploads/{$houseImageData.url}" alt="" class="rentImg" data-imgid="{$houseImageData.imageid}">
                        {/foreach}
                        <a href="{:url('Upload/houseimageupload')}?houseid={$houseData.houseid}">
                            <img alt="" src="__PUBLIC__/image/icon/noimg.png" style="height: 60px;width: 60px;">
                        </a>
                    </div>
                {/empty}
            </div>
            <div class="inputElement">
                <a href="{:url('Proprietor/basicinfo')}?houseid={$houseData.houseid}">
                    <div class="inputList inputState" data-state="{$schedule['basicinfo']['state']}" data-ratio="{$schedule['basicinfo']['ratio']}">
                        <div class="inputRight">
                            <em class="tipText">
                                >
                            </em>
                        </div>
                        <span>
                            房源信息
                        </span>
                        <var>
                            填写您房源的基本信息
                        </var>
                    </div>
                </a>
                <a href="{:url('Proprietor/bedinfo')}?houseid={$houseData.houseid}">
                    <div class="inputList inputState" data-state="{$schedule['bedinfo']['state']}" data-ratio="{$schedule['bedinfo']['ratio']}">
                        <div class="inputRight">
                            <em class="tipText">
                                >
                            </em>
                        </div>
                        <span>
                            床铺信息
                        </span>
                        <var>
                            填写床铺的详细信息
                        </var>
                    </div>
                </a>
                <a href="{:url('Proprietor/describeinfo')}?houseid={$houseData.houseid}">
                    <div class="inputList inputState" data-state="{$schedule['describeinfo']['state']}" data-ratio="{$schedule['describeinfo']['ratio']}">
                        <div class="inputRight">
                            <em class="tipText">
                                >
                            </em>
                        </div>
                        <span>
                            房源描述
                        </span>
                        <var>
                            为您的房源拟写标题、介绍
                        </var>
                    </div>
                </a>
                <a href="{:url('Proprietor/facilityinfo')}?houseid={$houseData.houseid}">
                    <div class="inputList">
                        <div class="inputRight">
                            <em>
                                >
                            </em>
                        </div>
                        <span>
                            配套设备
                        </span>
                        <var>
                            告诉房客有哪些配套便利设备
                        </var>
                    </div>
                </a>
                <a href="{:url('Proprietor/priceinfo')}?houseid={$houseData.houseid}">
                    <div class="inputList inputState" data-state="{$schedule['priceinfo']['state']}" data-ratio="{$schedule['priceinfo']['ratio']}">
                        <div class="inputRight">
                            <em class="tipText">
                                >
                            </em>
                        </div>
                        <span>
                            价格规则
                        </span>
                        <var>
                            设置您的房源的价格与规则
                        </var>
                    </div>
                </a>
            </div>
            <div class="inputElement">
            	<a href="{:url('Proprietor/mapinfo')}?houseid={$houseData.houseid}">
            		<div class="inputList">
	                    <div class="inputRight">
	                        <em dataasd="{$houseData.longitude}">
                                <var class="unit" 
                                    {if condition="$houseData.longitude neq 0"}
                                        style="display: inline;"
                                    {/if}
                                >
                                    已填写
                                </var>
                                >  <!--">" 向右箭头-->
                            </em>
	                    </div>
	                    <span>
	                        房源地址
	                    </span>
	                    <var>
	                        设置您的房源地址
	                    </var>
	                </div>
            	</a>
                <div class="inputList">
                    <div class="inputRight">
                        <em></em>
                    </div>
                    <span>
                        房源编号
                    </span>
                    <var>
                        {$houseData.houseid}
                    </var>
                </div>
                <div class="inputList">
                    <div class="inputRight">
                        <em></em>
                    </div>
                    <span>
                        出租类型
                    </span>
                    <var>
                        {if condition="$houseData.leasetype eq 0"}
                            整套出租
                        {elseif condition="$houseData.leasetype eq 1"/}
                            单间出租
                        {elseif condition="$houseData.leasetype eq 2"/}
                            床位出租
                        {elseif condition="$houseData.leasetype eq 3"/}
                            沙发出租
                        {/if}
                    </var>
                </div>
            </div>
            <div class="inputElement">
                <div class="inputList">
                    <div class="inputRight">
                        <em></em>
                    </div>
                    <span>
                        房源状态
                    </span>
                    <var>
                        {if condition="$houseData.status eq 0"}
                            未审核
                        {elseif condition="$houseData.status eq 1"/}
                            发布成功
                        {elseif condition="$houseData.status eq 2"/}
                            已禁用
                        {/else}
                            未审核
                        {/if}
                    </var>
                </div>
                <div class="read">
                    <!-- <input class="readInput" name="read" type="checkbox" value="" /> -->
                    <input class="chk_1" id="checkbox_a1" name="asd" type="checkbox"/>
                    <label for="checkbox_a1">
                    </label>
                    我已阅读并同意
                    <a href="//www.xiniuw.com/site/News/newsDetail/typeid/99/newsid/1300">
                        《房东规则》
                    </a>
                    <a href="//www.xiniuw.com/site/News/newsDetail/typeid/99/newsid/1302">
                        《服务协议》
                    </a>
                    <a href="//www.xiniuw.com/site/News/newsDetail/typeid/99/newsid/1301">
                        《费用类型》
                    </a>
                    <a href="//www.xiniuw.com/site/News/newsDetail/typeid/99/newsid/1303">
                        《免责声明》
                    </a>
                </div>
                <div class="issue">
                    <div class="issueLeft delissueBtn">
                        <img alt="" src="__PUBLIC__/image/icon/can.png">
                            删除
                        
                    </div>
                    <div class="issueRight issueBtn">
                        <!-- <img src="__PUBLIC__/image/icon/accpt-01.png" alt=""> -->
                        <i class="icon">
                            <i class="icon icon-del">
                            </i>
                        </i>
                        发布房源
                    </div>
                </div>
            </div>
            <script src="__PUBLIC__/js/jquery-3.1.0.min.js">
            </script>
            <script src="__PUBLIC__/js/mlayer/layer.js" type="text/javascript">
            </script>
            <script src="__PUBLIC__/js/miteCommon.js">
            </script>
        </div>
    </body>
</html>