<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>常用入住人</title>
	<link href="__PUBLIC__/css/mite.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/css/miteIndex.css" rel="stylesheet" type="text/css"/>
	<style type="text/css">
		body{
			background-color: #f5f5f5;
		}
		.myTop:before{
			content: "";
			display: block;
			position: absolute;
			width: 120%;
			height: 120%;
			top: -10%;
			left: -10%;
			background: url("__PUBLIC__/image/uiindex.jpg");
			background-size: 100% 100%;
			-webkit-filter: blur(15px) brightness(.9);
			-moz-filter: blur(15px) brightness(.9);
			-o-filter: blur(15px) brightness(.9);
			-ms-filter: blur(15px) brightness(.9);
			filter: blur(15px) brightness(.9);
			z-index: -1;
		}
	</style>
</head>
<body>
	<div class="wrap">
		<div class="myTop">
			<div class="myTopLeft">
				<img src="__PUBLIC__/image/icon/23-Save.png" alt="">
			</div>
			<div class="myTopRight">
				<img src="__PUBLIC__/image/icon/21-Settings.png" alt="">
			</div>
			<div class="portraitsname">
				我的名字
			</div>
			<div class="portraits">
				<div class="portraitsimg">
					<img src="__PUBLIC__/image/uiindex.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="myMainWrap">
			<div class="myMain">
				<div class="wrapOrderList usercheckinlist">
	                <h4>
	                    wfew 
	                </h4>
	                <div class="orderList">
	                    <span>
	                        身份证:
	                    </span>
	                    <var>
	                     	12312312
	                    </var> 
	                </div>
	                <div class="orderList">
	                    <span>
	                        手机号:
	                    </span>
	                    <var>
	                        123123123
	                    </var>
	                </div>
	            </div>
	            <div class="wrapOrderList usercheckinlist">
	                <h4>
	                    wfew 
	                </h4>
	                <div class="orderList">
	                    <span>
	                        身份证:
	                    </span>
	                    <var>
	                     	12312312
	                    </var>
	                </div>
	                <div class="orderList">
	                    <span>
	                        手机号:
	                    </span>
	                    <var>
	                        123123123
	                    </var>
	                </div>
	            </div>
			</div>
		</div>
	</div>
	{include file="index/commonbottom" /}
</body>
</html>