<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
<script>
	//upload.js需要一下参数
    var BASE_URL = '__PUBLIC__/webuploader/webuploader-0.1.5'; //静态文件根目录
    var UPD_URL = "{:url('Upload/ajax_upload')}"; //上传的图片处理的控制器方法
    var UID = 123;
    var HOUSEID = "{$houseid}";
    var DEGREES = 0;//角度
    //获取角度
    //.............
</script>
<script src="__PUBLIC__/webuploader/webuploader-0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/webuploader/mite/upload.js"></script>

