<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>
		小虫
	</title>
	<link href="__PUBLIC__/css/mite.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/css/miteIndex.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/css/liuliuIndex.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/js/swiper/swiper-4.0.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="wrap" id="wrap" data-canajax="yes">
		<div class="wrapIndexOne">
			<div class="wrapIndexOneOne">
				<div class="wrapIndexOneOneImg">
					<img src="__PUBLIC__/image/liuliulogo.png" alt="">
				</div>
				<div class="wrapIndexOneOneSearch">
					<div class="wrapIndexOneOneSearchWrap">
						<a href="javascript:void(0);" id="shuru">区域、地铁、小区、公交站</a>
						<a href="javascript:void(0);" id="tudi">地图找房</a>
					</div>

				</div>
				<div class="wrapIndexOneFenggexian"></div>
				<div class="wrapIndexOneYusuan">
					<p>我的预算(元/月)</p>
					<p>￥<span>0</span> - ￥<span>9999</span></p>
					<img src="__PUBLIC__/image/liuliulogo.png" alt="">
				</div>
			</div>
		</div>

		<div class="indexHouse liuliuHouse" id="indexHouse">
			<p>合租</p>
			<div class="wrapHeZu">
				<div class="wrapHeZuMain">
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/quanbuhezu.jpg" alt="">
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang6.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang5.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang4.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
				</div>
			</div>



			<br><br><br>



			<p>整租</p>
			<div class="wrapHeZu">
				<div class="wrapHeZuMain">
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/quanbuzhengzu.jpg" alt="">
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang3.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang2.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang1.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
					<div class="wrapHeZuMainList">
						<img src="__PUBLIC__/image/liuliu/shilituxiang.jpg" alt="">
						<span>溜说的大的请问为路i类分解为浪费金钱了看剧付款浪琴大武口卷起来焦点网看篮球就</span>
						<var><i>￥</i><b>678</b> <em>元/月</em></var>
					</div>
				</div>
			</div>
			<!-- 房源列表 -->
			<!-- <a href="{:url('/mite/index/detail')}?houseid=1">
				<div class="houseList">
					<div class="houseListImg">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1511180739508&di=e9c27f1a736174a50dea5ae00901c28e&imgtype=0&src=http%3A%2F%2Fupload.ishaanxi.com%2F2014%2F0807%2F1407379375948.jpg" alt="">
						<div class="houseImgText">
							<img src="__PUBLIC__/image/liuliu/icon/spotw.png" alt="">
							<span>￥480</span>
							<var>起/晚</var>
						</div>
						<div class="houseHead">
							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1511180954554&di=3d9a70d35e38496c1bd99ddada08b62a&imgtype=0&src=http%3A%2F%2Ftc.sinaimg.cn%2Fmaxwidth.2048%2Ftc.service.weibo.com%2Fp%2Fmmbiz_qpic_cn%2Fd613e49bded2cd5799469646cbca9018.jpg" alt="">
						</div>
					</div>
					<div class="houseListText">
						<h3>5分钟直达广交会广州塔琶提江景5分钟直达广交会广州塔琶提江景</h3>
						<div class="houseDescribeText">
							<span>整套出租</span>
							<span>3张床铺</span>
							<span>宜居5人</span>
						</div>
						<div class="houseOptionText">
							<span>优品</span>
							<span>认证</span>
							<var>实拍</var>
							<var>验真</var>
							<var>免押金</var>
						</div>
					</div>
				</div>
			</a> -->
				
			
		</div>


		<div class="Imaline"></div>
		<div class="whychooseus">
			<p>为什么选择我们</p>
			<div class="whychooseusWrap">
				<div class="whychooseusList">
					<img src="__PUBLIC__/image/liuliu/hliu.png" alt="">
					<span>真实房源</span>
				</div>
				<div class="whychooseusList">
					<img src="__PUBLIC__/image/liuliu/shiyou.png" alt="">
					<span>室友匹配</span>
				</div>
				<div class="whychooseusList">
					<img src="__PUBLIC__/image/liuliu/VR.png" alt="">
					<span>VR看房</span>
				</div>
				<div class="whychooseusList">
					<img src="__PUBLIC__/image/liuliu/wifi.png" alt="">
					<span>无线wifi</span>
				</div>
				<div class="whychooseusList">
					<img src="__PUBLIC__/image/liuliu/lock(2).png" alt="">
					<span>自能门锁</span>
				</div>
				<div class="whychooseusList">
					<img src="__PUBLIC__/image/liuliu/zhongjie.png" alt="">
					<span>无中介费</span>
				</div>
			</div>
		</div>


	</div>

	<div class="searchpage">
		<div class="searchpageTop">
			<span id="guanbi">关闭</span>
		</div>
		<div class="searchpageSearch">
			<input type="text" placeholder="请输入房源关键字、地址">
		</div>
		<div class="searchpageSelect">
			<div>
				<span class="cur">区域</span>
			</div>
			<div>
				<span class="">地铁</span>
			</div>
		</div>
		<div class="searchpageSelectDetail">
			<ul>
				<li class="curDetail">锦江区</li>
				<li class="">青羊区</li>
				<li class="">金牛区</li>
				<li class="">武侯区</li>
				<li class="">成华区</li>
				<li class="">龙泉驿区</li>
				<li class="">温江区</li>
				<li class="">双流县</li>
				<li class="">高新区</li>
				<li class="">高新西区</li>
				<li class="">天府新区</li>
			</ul>
		</div>
		<div class="searchpageSelectDetailDetail">
			<ul>
				<li class="">全部</li>
				<li class="">青羊区</li>
				<li class="">金牛区</li>
				<li class="">武侯区</li>
				<li class="">成华区</li>
				<li class="">龙泉驿区</li>
				<li class="">温江区</li>
				<li class="">双流县</li>
				<li class="">高新区</li>
				<li class="">高新西区</li>
				<li class="">天府新区</li>
			</ul>
		</div>
	</div>


	{include file="../app/application/mite/view/index/liuliucommonbottom.html" /}
		
	<script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/layui/layui.js"></script>
    <script src="__PUBLIC__/js/picker.min.js"></script>
    <script src="__PUBLIC__/js/miteCommon.js"></script>
    <script src="__PUBLIC__/js/swiper/swiper-4.0.min.js"></script>
	<script type="text/javascript">
			
		var ajaxData = {
			"ajaxPage" : 1,
			"limit" : 6
		};

		window.onload = function (){

			var shuru = document.getElementById("shuru");
			var searchpage = document.getElementsByClassName("searchpage");
			shuru.addEventListener("click",function (){
				searchpage[0].style.display = "block";
			});

			var guanbi = document.getElementById("guanbi");
			guanbi.addEventListener("click",function (){
				searchpage[0].style.display = "none";
			});

			// var guanbi = document.getElementById("guanbi");
			// guanbi.addEventListener("click",function (){
				
			// });


			var bottomLi = document.getElementsByClassName("commonBottom");
			bottomLi[0].addEventListener("click", function (e){
				console.log(e);
				if(e.target.nodeName == "LI" && e.target.className){
					var className = e.target.className;
					if(className.indexOf("white") > 0){
						className = className.replace("white","yellow");
					}else if(className.indexOf("yellow") > 0){
						className = className.replace("yellow","white");
					}
					e.target.className = className;
				}else if(e.target.nodeName != "LI"){
					var className = e.target.parentNode.className;
					if(className.indexOf("white") > 0){
						className = className.replace("white","yellow");
					}else if(className.indexOf("yellow") > 0){
						className = className.replace("yellow","white");
					}
					e.target.parentNode.className = className;
				}
			});
			var bottomP = bottomLi[0].getElementsByTagName("li");
			for(var i = 0 ; i <= bottomP.length-1 ; i++){
				var className = bottomP[i].className;
				if(className.indexOf("white") > 0){
					className = className.replace("white","yellow");
				}else if(className.indexOf("yellow") > 0){
					className = className.replace("yellow","white");
				}
				bottomP[i].className = className;
			}


			
			// ajaxHouse();
			
			// $(window).on("scroll",function (e){
			// 	if((window.document.body.scrollHeight - window.document.body.scrollTop - window.screen.height) <= 200){
			// 			ajaxHouse();
			// 	}
			// });
			// ajaxHouse();
			
			// $(window).on("scroll",function (e){
			// 	if((window.document.body.scrollHeight - window.document.body.scrollTop - window.screen.height) <= 200){
			// 			ajaxHouse();
			// 	}
			// });
			// ajaxHouse();
			
			// $(window).on("scroll",function (e){
			// 	if((window.document.body.scrollHeight - window.document.body.scrollTop - window.screen.height) <= 200){
			// 			ajaxHouse();
			// 	}
			// });
			// ajaxHouse();
			
			// $(window).on("scroll",function (e){
			// 	if((window.document.body.scrollHeight - window.document.body.scrollTop - window.screen.height) <= 200){
			// 			ajaxHouse();
			// 	}
			// });
			// ajaxHouse();
			
			// $(window).on("scroll",function (e){
			// 	if((window.document.body.scrollHeight - window.document.body.scrollTop - window.screen.height) <= 200){
			// 			ajaxHouse();
			// 	}
			// });
			// ajaxHouse();
			
			// $(window).on("scroll",function (e){
			// 	if((window.document.body.scrollHeight - window.document.body.scrollTop - window.screen.height) <= 200){
			// 			ajaxHouse();
			// 	}
			// });

		};

		function ajaxHouse (){

			if($("#wrap").data("canajax") == "yes"){
				$("#wrap").data("canajax","no");
				// $.getJSON(
				// 	"{:url('Index/houseslidepage')}",
				// 	ajaxData,
				// 	function(data){
				// 		console.log(data);
				// 	}
				// );
				$.ajax({
					type: "POST",
					url: "{:url('Index/houseslidepage')}",
					data: ajaxData,
					async:false,
					dataType:"json",
					success: function(data){
						console.log(data);
						if(data.state == 1){

							var dataHouse = data.list;
							for(var i = 0 ; i < dataHouse.length ; i++){
								// console.log(dataHouse[i]['imageData']);
								// console.log(jQuery.isEmptyObject(dataHouse[i]['imageData']));
							
								var dataHD = dataHouse[i]
								//列表大图片模块
									//列表大图片
									if(!jQuery.isEmptyObject(dataHD['imageData'])){
									// if(dataHouse[i]['imageData']){
										var imageData = "/miteuploads/"+dataHD['imageData'][0]['url'];
									}else{
										var imageData ="__PUBLIC__/image/liuliu/shilituxiang.jpg";
									}
									var houseListImgimg = $("<img src='"+imageData+"' alt=''>");



									//列表大图片价格
									if(dataHD['leaseperiod'] == 0){
										var price = dataHD['monthprice'];
										var period = "月";
									}else if(dataHD['leaseperiod'] == 1){
										var price = dataHD['dayprice'];
										var period = "日";
									}

									var houseImgText = $("<div class='houseImgText'></div>");
									var houseImgTextimg = $("<img src='__PUBLIC__/image/liuliu/icon/spotw.png' alt=''>");
									var houseImgTextspan = $("<span>￥"+price+"</span>");
									var houseImgTextvar = $("<var>起/"+period+"</var>");
									houseImgText.append(houseImgTextimg);
									houseImgText.append(houseImgTextspan);
									houseImgText.append(houseImgTextvar);



									//列表大图片头像
									// if(dataHouse[i]['imageData']){
									if(!jQuery.isEmptyObject(dataHD['imageData'])){
										var houseHeadImg = "/miteuploads/"+dataHD['imageData'][0]['url'];
									}else{
										var houseHeadImg ="__PUBLIC__/image/liuliu/shilituxiang.jpg";
									}

									var houseHead = $("<div class='houseHead'></div>");
									var houseHeadimg = $("<img src='"+houseHeadImg+"' alt=''>");
									houseHead.append(houseHeadimg);



									// 列表大图片模块合成
									var houseListImg = $("<div class='houseListImg'></div>");
									houseListImg.append(houseListImgimg);
									houseListImg.append(houseImgText);
									houseListImg.append(houseHead);
								//列表大图片模块结束
								//列表文字部分
									//列表文字标题
									var houseLT3 = dataHD['title'];

									var houseListTexth3 = $("<h3>"+houseLT3+"</h3>");



									//列表文字房源简介(黑色字体)
									var houseDescribeText = $("<div class='houseDescribeText'></div>");
									if(dataHD['leasetype'] == 0){
										var houseType = "整套";
										var houseDescribeTextspan1 = $("<span>"+houseType+"出租</span>");
										houseDescribeText.append(houseDescribeTextspan1);
									}else if(dataHD['leasetype'] == 1){
										var houseType = "单间";
										var houseDescribeTextspan1 = $("<span>"+houseType+"出租</span>");
										houseDescribeText.append(houseDescribeTextspan1);
									}else if(dataHD['leasetype'] == 2){
										var houseType = "床位";
										var houseDescribeTextspan1 = $("<span>"+houseType+"出租</span>");
										houseDescribeText.append(houseDescribeTextspan1);
									}else if(dataHD['leasetype'] == 3){
										var houseType = "沙发";
										var houseDescribeTextspan1 = $("<span>"+houseType+"出租</span>");
										houseDescribeText.append(houseDescribeTextspan1);
									}
									if(dataHD['bed']){
										
										var bedInfo = JSON.parse(dataHD['bed']);
										var houseBedNum = 0;
										for (var Key in bedInfo){
											houseBedNum += bedInfo[Key]['num'];
											// console.log(Key);
										}
										// console.log(bedInfo);
										// console.log(dataHD['bed']);
										var houseDescribeTextspan2 = $("<span>"+houseBedNum+"张床铺</span>");
										houseDescribeText.append(houseDescribeTextspan2);
									}
									if(dataHD['tenantnum']){
										var housePeople = dataHD['tenantnum'];
										var houseDescribeTextspan3 = $("<span>宜居"+housePeople+"人</span>");
										houseDescribeText.append(houseDescribeTextspan3);
									}
									if(dataHD['housearea']){
										var houseArea = dataHD['housearea'];
										var houseDescribeTextspan4 = $("<span>"+houseArea+"平方米</span>");
										houseDescribeText.append(houseDescribeTextspan4);
									}



									//列表文字房源简介(黑色字体)
									var houseOptionTextspan1 = $("<span>优品</span>");
									var houseOptionTextspan2 = $("<span>认证</span>");
									var houseOptionTextvar1 = $("<var>实拍</var>");
									var houseOptionTextvar2 = $("<var>验真</var>");
									var houseOptionTextvar3 = $("<var>免押金</var>");
									var houseOptionText = $("<div class='houseOptionText'></div>");
									houseOptionText.append(houseOptionTextspan1);
									houseOptionText.append(houseOptionTextspan2);
									houseOptionText.append(houseOptionTextvar1);
									houseOptionText.append(houseOptionTextvar2);
									houseOptionText.append(houseOptionTextvar3);



									// 列表文字部分合成
									var houseListText = $("<div class='houseListText'></div>");
									houseListText.append(houseListTexth3);
									houseListText.append(houseDescribeText);
									houseListText.append(houseOptionText);
								//列表文字部分结束
								//大模块(仅次于a大)
									var houseList = $("<div class='houseList'></div>");
									houseList.append(houseListImg);
									houseList.append(houseListText);
								//大模块结束
								//大a(列表最大循环部分)
									var houseListId = dataHD['houseid'];

									var aurl = "{:url('/mite/index/detail')}?houseid="+houseListId;
									var aHouseList = $("<a href="+aurl+"></a>");
									aHouseList.append(houseList);
								//大a结束
								//添加到index页
								$("#indexHouse").append(aHouseList);
								//添加到index页结束
									
							}
							var timerAjax = setTimeout(function (){
								if(data['info'] !== "没有更多了"){
									ajaxData['ajaxPage'] += 1;
									$("#wrap").data("canajax","yes");
								}
							},1000);
						}else{
							$("#wrap").data("canajax","no");
							layer.msg('网络出错，请再次尝试', {
								icon: 8,
								time: 1000
							});
						}

					}
				});
			}
		}

    </script>
</body>
</html>