<div class="commonBottomWrap">
	<div class="commonBottom">
		<ul>
			<a href="{:url('/index/index/index')}">
				<li class="homeyellow">
					<p></p>
					<span>发现</span>
				</li>
			</a>
			<a href="javascript:void(0);">
				<li class="orderyellow">
					<p></p>
					<span>订单</span>
				</li>
			</a>
			<a href="javascript:void(0);">
				<li class="messageyellow">
					<p></p>
					<span>消息</span>
				</li>
			</a>
			<a href="{:url('/mite/mine/liuliuindex')}">
				<li class="mycionyellow">
					<p></p>
					<span>我的</span>
				</li>
			</a>
		</ul>
	</div>
</div>