<div class="commonhead">
	<div class="headcen">
		<span class="space">一月</span>
		<var class="today">今天</var>
	</div>
	<div class="headright">
		<img class="headrightimg" src="/static/image/icon/optionwhite.png" alt="">
	</div>
	<script type="text/javascript">
		// var bottomLi = document.getElementsByClassName("commonBottom");
		// 	bottomLi[0].addEventListener("click", function (e){
		// 		console.log(e);
		// 		if(e.target.nodeName == "LI" && e.target.className){
		// 			var className = e.target.className;
		// 			if(className.indexOf("white") > 0){
		// 				className = className.replace("white","yellow");
		// 			}else if(className.indexOf("yellow") > 0){
		// 				className = className.replace("yellow","white");
		// 			}
		// 			e.target.className = className;
		// 		}else if(e.target.nodeName != "LI"){
		// 			var className = e.target.parentNode.className;
		// 			if(className.indexOf("white") > 0){
		// 				className = className.replace("white","yellow");
		// 			}else if(className.indexOf("yellow") > 0){
		// 				className = className.replace("yellow","white");
		// 			}
		// 			e.target.parentNode.className = className;
		// 		}
		// 	});
		// 	var bottomP = bottomLi[0].getElementsByTagName("li");
		// 	for(var i = 0 ; i <= bottomP.length-1 ; i++){
		// 		var className = bottomP[i].className;
		// 		if(className.indexOf("white") > 0){
		// 			className = className.replace("white","yellow");
		// 		}else if(className.indexOf("yellow") > 0){
		// 			className = className.replace("yellow","white");
		// 		}
		// 		bottomP[i].className = className;
		// 	}
	</script>
</div>